.heading{
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.dropdowns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    
}

.dropdown{
    height: 40px;
    width: 300px;
    
}

.result{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
    
}

.highlight{
    
    font-weight: 700;
    font-size: x-large;
    
    
}
.fade{
    color:gray;
}